# Переменные окружения для Docker Compose
# Скопируйте этот файл в .env и настройте под ваши нужды

# ===== PostgreSQL Configuration =====
POSTGRES_HOST=g4c-rta-dev.goodsforecast.ru
POSTGRES_DB=Renoza.Dev
POSTGRES_USER=svc_gfc
POSTGRES_PASSWORD=Kdf)!XiNh>u*v7!h>q4
POSTGRES_PORT=5432

# ===== Backend Configuration =====
ASPNETCORE_ENVIRONMENT=Production
BACKEND_PORT=8080

# ===== Frontend Configuration =====
FRONTEND_PORT=4200

# ===== Timezone =====
TZ=Europe/Moscow
